name: Build and Upload ISO

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      options: --privileged
    
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      
    - name: Set up environment
      run: |
        pacman -Syu --noconfirm
        pacman -S --noconfirm base-devel git
        
    - name: Install archiso
      run: |
        pacman -S --noconfirm archiso

    - name: Build ISO
      run: |
        mkarchiso -v -r -w slashostmp -o slashosout slashoslive
        
    - name: Find all ISO files
      id: find_isos
      run: |
        cd slashosout && ISOS=$(find . -name "*.iso" -type f -printf "%P\n")
        echo "ISO_FILES=$ISOS" >> $GITHUB_ENV

    - name: Upload binaries to release
      id: upload_iso
      uses: svenstaro/upload-release-action@v2
      with:
        repo_name: SlashOS/Releases
        repo_token: ${{ secrets.PAT }}
        file: slashosout/${{ env.ISO_FILES }}
        tag: ${{ github.event.head_commit.message }}
        body: "SlashOS Desktop x86_64 release"

  update-website:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Clone the slashos.github.io repository
      run: |
        git clone https://github.com/SlashOS/slashos.github.io /home/runner/work/slashos.github.io

    - name: Update download URL in index.html
      run: |
        NEW_URL="${{ steps.upload_iso.outputs.browser_download_url }}"
        pwd
        cd /home/runner/work/slashos.github.io && sed -i "s|href=\"https://github.com/SlashOS/Releases/releases/download/[^\"]*\"|href=\"$NEW_URL\"|g" index.html

    - name: Commit and push changes
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        echo -e "protocol=https\nhost=github.com\nusername=maurodruwel\npassword=${GITHUB_TOKEN}" | git credential-store --file /home/runner/work/.git-credentials store
        git config --global credential.helper "store --file=/home/runner/work/.git-credentials"
        cd /home/runner/work/slashos.github.io && git add .
        cd /home/runner/work/slashos.github.io && git commit -m "Update download URL to $NEW_URL"
        cd /home/runner/work/slashos.github.io && git push
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}